.Dash--CoolDown {
    left: 10%;
    height: 50%;
    width: 10%;
    background-image: url('project://database/Assets/2D%20assets/Double/mouse_right.png?fileID=2800000&guid=14a87020f143d9a44b04d702688acb9b&type=3#mouse_right');
    overflow: visible;
    justify-content: flex-end;
    scale: 0.9 0.9;
    color: rgba(255, 255, 255, 255);
    -unity-background-image-tint-color: rgba(113, 113, 113, 255);
}

.Dash {
    left: 10%;
    width: 10%;
    height: 50%;
    justify-content: flex-end;
    background-image: url('project://database/Assets/2D%20assets/Double/mouse_right.png?fileID=2800000&guid=14a87020f143d9a44b04d702688acb9b&type=3#mouse_right');
}
